* {
  box-sizing: border-box;
}

button:focus, button:active, input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active {
  outline: none;
}

html {
  color: var(--main-color);
  font-family: var(--primary-font);
  // @include for-narrow-layout {
  //   font-size: 14px;
  // }
}

body {
	background-color: #f9eff3;
	background: url('../images/background/003.jpg') no-repeat center center fixed;
  background-size: cover;
  &.context-art-fair { background-image: url('../images//background/002.jpg'); }
  &.context-family { background-image: url('../images//background/001.jpg'); }
  &.context-archive { background-image: url('../images//background/004.jpg'); }
}

a {
  cursor: pointer;
  color: currentColor;
  text-decoration: none;
  display: inline-block;
  &:hover {
    color: #000;
  }
}

h1, .bulletin-main-title, .main-title {
  border-top: solid 3px #231f20;
  border-bottom: solid 3px #231f20;
  line-height: 60px;
  font-size: rem(25px);
  margin-bottom: 30px;
  font-weight: normal;
}

ul,
fieldset {
  padding: 0;
  margin: 0;
}

fieldset {
  border: none;
}