/*::-webkit-input-placeholder {
  color: #626262;
  font-size: rem(14px);
  font-family: var(--primary-font);
}

.form-control {
  border: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
  width: 100%;
  padding: 0.5em 0.2em;
}

.form-group {
  margin: 1em 0;
}

.contact-form__sumbit-button{
  width: 90px;
  height: 37px;
  background : var(--active-color);
}

.contact .container {
  @include for-mobile-only {  
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}*/
