::-webkit-input-placeholder {
  color: #626262;
  font-size: rem(14px);
  font-family: var(--primary-font);
}

input[type="text"], input[type="email"], textarea {
  border: none;
  background: #e3e3e0;
  width: 100%;
  padding: 18px 14px;
  font-size: rem(14px);
  line-height: rem(22px);
}

.region-content input[type="submit"] {
  display: inline-block;
  border: none;
  background: var(--curr-bg-color);
  color: #fff;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  text-shadow: none;
  font-family: var(--primary-font);
  font-size: rem(14px);
  font-weight: normal; 
}