.clean-list {
  list-style: none;
}

button, select {
  cursor: pointer;
}

textarea {
    resize: none;
}

.clean-btn {
  background: transparent;
  border: none;
  color: currentColor;
}

.img-responsive {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

.template {
  display: none;
}

.float-start {
  float: left;
}

.float-end {
  float: right;
}

.clear-both {
  clear: both;
}

.small-content {
  // font-size: var(--font-small);
  // line-height: var(--line-height-small);
  margin-bottom: 40px;
}

.site-block {
  margin-bottom: 20px;
  display: block;
}

.site-block-top {
  margin-top: 20px;
  display: block; 
}

/*----------  Flex Helpers  ----------*/

.flex, .flex-view .view-content {
  display: flex;
}

.align-center, .flex-view.align-center .view-content {
  align-items: center;
}

.justify-center, .flex-view.justify-center .view-content {
  justify-content: center;
}

.justify-end, .flex-view.justify-end .view-content {
  justify-content: flex-end;
}

.space-between, .flex-view.space-between .view-content {
  justify-content: space-between;
}

.flex-wrap, .flex-view.flex-wrap .view-content {
  flex-wrap: wrap;
}

.self-end, .flex-view.self-end .view-content {
  align-self: flex-end;
}

.column, .flex-view.column .view-content {
  flex-direction: column;
}

.full-height {
  height: 100%;
}

a.round-button {
    border-radius: 50%;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    line-height: 18px;
    background: #EE944B;
    font-size: 16px;
    font-family: Alef_Bold;
    width: 98px;
    height: 98px;
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
    background-image: -webkit-linear-gradient(5deg, #F0594C, #F0964C);
    background-image: -o-linear-gradient(5deg, #F0594C, #F0964C);
    background-image: -moz-linear-gradient(5deg, #F0594C, #F0964C);
    background-image: linear-gradient(5deg, #F0594C, #F0964C);
    transition: all 0.7s;
    z-index: 1;
    position: relative;
    &:hover {
      color: #fff;
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);    
    }
}
