header {
    height: var(--header-height);
    .fresh-paint-header .views-row-last {
        display: flex;
        height: var(--header-height);
        align-items: center;
    }
    .header-logo {
        width: 160px;
    }
    .header-date {
        font-family: var(--number-font);
        font-size: rem(35px);
        color: var(--light-color);
    }
    .region-header-second {
        font-size: var(--font-small);
        color: var(--light-color);
    }
}