a#main-content { 
    display: none;
}

.region-content {
    padding-right: var(--side-padding);
    font-size: rem(14px);
    line-height: rem(24px);
    img {
        border: 0;
        height: auto;
        max-width: 100%;
    }
    a {
        color: var(--curr-text-color);
          &:hover {
            text-decoration: underline;
        }
    }
    p {
        max-width: 600px;
    }
}