.region-content-menu-inner {
    padding: 0 0 0 var(--side-padding);
    @include for-mobile-layout {
      > *:not(.main-menu) {
          display: none;
      }
    }
}
.region-content-menu {
    color: var(--light-color);
    .block-menu {
        border-top: 1px solid #4b4b4b
    }
}

ul.menu {
    li.leaf, li.collapsed, li.expanded {
        list-style-image: none;
        list-style-type: none;
    }

    li {
        padding: 4px 0;
        margin: 0;
        border-bottom: 1px solid #e3e3e0;
        font-size: rem(13px);
        line-height: rem(22px);
        font-weight: bold;
        &.active-trail > a {
            background-color: #e3e3e0;
        }
        li {
            padding: 2px 0;
            font-size: rem(11px);
            margin: 0;
            border: none;
            font-weight: normal;
            a {
                line-height: 20px;
                &:hover {
                    background-color: #f1f1ee;
                    
                }
                &.active {
                    background-color: #f1f1ee;
                    // color: #fff;
                }
            }
        }
    }
    a {
        display: block;
        padding: 0 0 0 5px;
        &:hover {
            background-color: #e3e3e0;
        }
    }
}

/*---------------Responsive Mean Menu-----------------*/

.mean-container .mean-bar {
    position: fixed;
}

.mean-container .mean-bar .mean-nav {
    width: 0;
    background: red;
    top: 0;
    bottom: 0;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: width ease-out 0.8s;
    &::-webkit-scrollbar { 
        display: none; 
    }
}

.mean-container .mean-bar .mean-nav.open {
    width: 80%;
}

