.region-content-menu-inner {
    padding: 0 0 0 var(--side-padding);
}
.region-content-menu {
    color: var(--light-color);
    .content {
        border-top: 1px solid #4b4b4b
    }
}

ul.menu {
    li.leaf, li.collapsed, li.expanded {
        list-style-image: none;
        list-style-type: none;
    }

    li {
        padding: 4px 0;
        margin: 0;
        border-bottom: 1px solid #e3e3e0;
        font-size: rem(13px);
        line-height: rem(22px);
        font-weight: bold;
        li {
            padding: 2px 0;
            font-size: rem(11px);
            margin: 0;
            border: none;
            font-weight: normal;
            a {
                line-height: 20px;
                &:hover {
                    background-color: #f1f1ee;
                    
                }
                &.active {
                    background: #999;
                    color: #fff;
                }
            }
        }
    }
    a {
        display: block;
        padding: 0 0 0 5px;
        &:hover {
            background-color: #e3e3e0;
        }
    }
}

