/*-----------------Main Teasers Preview-----------------------*/

.teaser-row {
    width: 100%;
    font-size: var(--font-small);
    line-height: var(--line-height-small);
    color: var(--light-color) !important;
    margin-bottom: 30px;
    .teaser-image {
        width: 170px;
    }
    .teaser-info {
        width: calc(100% - 150px);
        padding: 0 0 0 20px;
        max-width: 470px;
    }
}

/*-----------------Small Teasers Thumbnails Preview-----------------------*/

.small-thumbs-block > .view-content {
    width: 755px;
    margin-bottom: 30px;
}

.small-thumbs-row {
    width: 136px;
    margin: 0 15px 10px 0;
    filter: grayscale(100%);
    color: var(--light-color) !important;
    &:hover {
        a {
        color: var(--curr-text-color) !important;
        text-decoration: none !important;
        }

        filter: grayscale(0%);
    }
 

    .image-text-block {
        padding-top: 10px;
        font-size: var(--font-small);
        line-height: var(--line-height-small);
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 136px;
    }
}