$container-width: 960px;
$mobile-breakpoint: 620px;
$narrow-breakpoint: 730px;

:root {
  /* Layout */
  --container-width: $container-width;
  --inner-container-width: 900px;
  /* Fonts */
  --primary-font: Lato;
  --title-font: Maven;
  --logo-font: Molle;

  --font-small: rem(12px);
  
  /* Colors */
  --main-color: #bebebe;
  --title-color: #e0e0e0;
  --active-color: #2eb398;
  --active-second-color: #57938b;
  
  /* Background Colors */
  --dark-bg: #323232;
  --warm-bg: #f19e0d;

  /* Borders */
  --light-border: #e4e9eb;
}


